body {
    background: #20273b;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#studentTableContainer {
    float: left;
    width: 30%;
    text-align: left;
    margin-left: 30px;
}

#roomName {
    color: rgb(0, 255, 0);
    font-weight: bolder;
    font-size: 30px;
}

#studentTableTitle {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    display: inline-block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 10px;
}

#activityLogContainer {
    float: right;
    width: 55%;
    text-align: left;
    margin-right: 100px;
    display: block;
}

#activityLogTitle {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    display: inline-block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 10px;
}

#activityLogControls {
    background: rgb(43, 43, 139);
    display: inline-block;
    width: 100%;
    color: white;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid black;
    border-bottom: none;
}

#activityLog {
    background: #1b2131;
    border: 1px solid black;
    color: purple;
    padding: 5px;
    padding-left: 15px;
    width: 100%;
    min-height: 200px;
    font-family: monospace;
    font-size: 15px;
}

table.student_table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    width: 550px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%
}
table.student_table td, table.student_table th {
    padding: 7px 7px;
}
table.student_table tbody td {
    font-size: 15px;
    border-right: 1px solid black;
}

table.student_table tr:nth-child(even) {
    background: #E5F3F5;
}
table.student_table thead {
    background: rgb(43, 43, 139);
    border-bottom: 2px solid #444444;
}
table.student_table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-right: 1px solid black;
}
table.student_table thead th:first-child {
    border-left: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.title_screen {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #20273b;
    text-align: center;
}

.inner_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    width: 450px;
    height: 300px;
    display: inline-block;
    background: grey;
    border-bottom-right-radius: 20px;
}

#nameInput {
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    margin-top: 30px;
}

#teacherPassword {
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    height: 15px;
    margin-top: 30px;
    position: absolute;
    left: 150px;
    bottom: 5px;
    display: none;
}

#nameEnterButton {
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background:rgb(23, 23, 92);
    margin: 10px;
    color: white;
    cursor: pointer;
}

#nameEnterButton:hover {
    border: 2px solid black;
}

#nameEnterButton:active {
    background: blue;
}

.logo {
    width: 100px;
    height: 100px;
    position: relative;
    left: -90px;
    top: -180px;
}

.credits {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color:rgb(109, 109, 109);
    text-align: left;
    padding: 5px;
}

.box_shadow{
	box-shadow: 4px 2px 9px rgba(0, 0, 0, 0.4); 
	-webkit-box-shadow: 4px 2px 9px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 4px 2px 9px rgba(0, 0, 0, 0.4); 
}

h2 {
    border-bottom: 2px solid white;
    background: rgb(23, 23, 92);
    margin: 0px;
    padding: 15px;
    color: rgb(255, 255, 255);
}

#logInAsTeacherButton {
    color:rgb(23, 23, 92);
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

#teacherCheckmark {
    color: rgb(0, 255, 0);
    position: absolute;
    bottom: 2px;
    font-weight: bold;
    left: 265px;
    display: none;
}

#logInErrorDisplay {
    color: red;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

#disconnectedScreen {
    position: absolute;
    left: 10px;
    color: red;
    top: 10px;
    font-weight: bold;
    font-size: 30px;
    pointer-events: none;
    display: none;
}

#teacherUIScreen {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #20273b;
    display: none; 
    text-align: center;
}

#teacherName {
    background: white;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    margin-top: 15px;
    border-radius: 15px;
}

#teacherNameContainer {
    background: #1b2131;
    padding-bottom: 10px;
}

#studentCount {
    color: white;
}