#lobbyWindow {
    text-align: center;
    background: #7879F1;
    display: none;
}

.lobby_id_container {
    height: 15rem;
    position: absolute;
    width: 500rem;
    text-align: center;
}

#lobbyIdDisplay {
    padding-left: 6rem;
    padding-right: 6rem;
    background: white;
    color: #7879F1;
    height: 15rem;
    font-size: 12rem;
    line-height: 17rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
    cursor: pointer;
}

#lobbyIdDisplay:active {
    transform: scale(1.05);
}

#copiedToClipboardMessage {
    display: none;
    color: white;
    font-size: 6rem;
    position: relative;
    top: -5rem;
}

.rules_container {
    width: 270rem;
    height: 120rem;
    background: #6A6BE5;
    margin-top: 40rem;
    text-align: left;
    justify-content: left;
    border-radius: 20rem;
}

.rules_text_container {
    color: white;
    font-size: 6rem;
    width: 52%;
    text-align: left;
    margin-top: 10rem;
    margin-left: 40rem;
}

.rules_text_title {
    font-size: 12rem;
}

.rules_text {
    overflow-y: scroll;
    height:77%;
    padding-right: 3rem;
}

.taylor_swift_container {
    width: 30%;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 20rem;
}

.taylor_swift {
    width: 85rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom-left-radius: 20rem;
    z-index: 2;
}

.letters_img {
    width: 150rem;
    z-index: 1;
    position: absolute;
    left: -35rem;
    top: -15rem;
}

.dashboard_container {
    width: 100%;
    margin-top: 20rem;
    text-align: center;
    justify-content: center;
}

.team_select_container {
    width: 130rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 8rem;
    height: 70rem;
    background: #5051C2;
    flex-direction: column;
    align-items: center;
}

.team_select_title {
    background: grey;
    text-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.25);
    width: 100%;
    color: white;
    font-size: 11rem;
    height: 14rem;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
}

.team1title {
    color: #614C17;
    background: #FFC42E;
}

.team2title {
    color: #892B2B;
    background: #FF826E;
}

.start_shuffle_container {
    height: 70rem;
}

#shuffleButton {
    width: 20rem;
    cursor: pointer;
}

#shuffleButton:hover {
    filter: brightness(0.95);
    transform: scale(1.1);
}

#shuffleButton:active {
    filter: brightness(0.8);
    transform: scale(1);
}

#shuffleButton > img {
    width: 100%;
}

#goButton {
    width: 25rem;
    height: 25rem;
    border-radius: 8rem;
    padding: 5rem;
    cursor: pointer;
    background: #09CC6E;
    box-shadow: 0rem 0rem 5rem 2rem #05ff4c;
}

#goButton:hover {
    transform: scale(1.03);
}

#goButton:active {
    background: #2ee78e;
    transform: scale(1);
    box-shadow: 0rem 0rem 5rem 2rem #31f86c;
}


#goButton > img {
    margin-left: 2rem;
    width: 15rem;
    height: 17rem;
}

#goButton > div {
    position: relative;
    top: -6rem;
    color: white;
}

.name_pool {
    width: 95%;
    height: 40rem;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.name_tag {
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 6rem;
    text-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.25);
}

.join_team_button {
    width: 30rem;
    font-size: 6rem;
    height: 10rem;
    background: #09CC6E;
    border-radius: 5rem;
    color: white;
    cursor: pointer;
}

.join_team_button > div {
    vertical-align: middle;
    line-height: 11 rem;
}


.join_team_button:hover {
    transform: scale(1.03);
}

.join_team_button:active {
    background: #2ee78e;
    transform: scale(1);
}

.edit_name_button {
    display: inline-block;
    position: relative;
    left: 49rem;
    top: 1.5rem;
    cursor: pointer;
}

.edit_name_button:hover {
    transform: scale(1.1);
}

.edit_name_button:active {
    transform: scale(1);
    filter: brightness(1.5);
}


.edit_name_button > img{
    width: 9rem;
    height: 9rem;
}

.team_name_input_field {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 9rem;
    text-align: inherit;
    text-shadow: inherit;
    width: 67%;
    position: relative;
    top: -1.6rem;
    height: 11.3rem;
    border-radius: 2rem;
    overflow: hidden;
}

.inputting {
    background: rgba(0,0,0,0.06);
    box-shadow: inset 0px 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}