#logInWindow {
    width: 100%;
    height: 100%;
    text-align: center;
}

.language_bar {
    height: 20rem;
    width: 100%;
    color: #AAABFF;
    display: flex;
    flex-direction: row-reverse;
}

.language_button {
    margin-right: 5rem;
    padding: 2px;
    text-align: center;
}

.log_in_center_container {
    margin-top: 20rem;
    background-color: #6A6BE5;
    border-radius: 8rem;
    width: 250rem;
    height: 140rem;
}

.main_title {
    color: #FFC42E;
    font-size: 40rem;
    height: 30rem;
    text-shadow: -2.5rem 1.3rem .3rem rgba(0, 0, 0, 0.25);
}

#usernameInput {
    margin-top: 15rem;
    background: white;
    width: 190rem;
    height: 15rem;
    display: inline-block;
    font-family: 'Lalezar', cursive;
    border-radius: 3rem;
    border: 0.9rem solid #3F3F3F;
    font-size: 10rem;
    vertical-align: bottom;
    padding-top: 1rem;
    padding-left: 3rem;
}

.lobby_buttons_container {
    width: 100%;
    height: 17rem;
    font-size: 9rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lobby_button {
    width: 87rem;
    vertical-align: bottom;
    height: 100%;
    margin-left: 10rem;
    margin-right: 10rem;
    background: red;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2rem;
    border-radius: 4rem;
}

#createNewLobbyButton {
    color: #614C17;
    background: #FFC42E;
}

#joinLobbyButton {
    color: #A13939;
    background: #FF826E;
}

.shush_girl {
    display: block;
    position: absolute;
    left: -372rem;
    top: 25rem;
    width: 100rem;
}