#logInWindow {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}

.language_bar {
    height: 20rem;
    width: 100%;
    color: #AAABFF;
    display: flex;
    flex-direction: row-reverse;
}

.language_button {
    margin-right: 5rem;
    padding: 2px;
    text-align: center;
}

.log_in_center_container {
    padding-top: 10rem;
    margin-top: 20rem;
    background-color: #6A6BE5;
    border-radius: 8rem;
    width: 320rem;
    height: 160rem;
}

.main_title {
    color: #FFC42E;
    font-size: 40rem;
    height: 30rem;
    text-shadow: -2.5rem 1.3rem .3rem rgba(0, 0, 0, 0.25);
}

#usernameInput {
    margin-top: 15rem;
    background: white;
    width: 227rem;
    height: 18rem;
    display: inline-block;
    font-family: 'Lalezar', cursive;
    border-radius: 3rem;
    border: none;
    box-shadow: inset -0.1rem 0.1rem .8rem rgba(0, 0, 0, 0.8);
    color: #3F3F3F;
    font-size: 12rem;
    vertical-align: bottom;
    padding-top: 1rem;
    padding-left: 3rem;
    margin-bottom: 10rem;
}

.lobby_buttons_container {
    width: 100%;
    height: 21rem;
    font-size: 9rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lobby_button {
    width: 97rem;
    vertical-align: bottom;
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2rem;
    border-radius: 6rem;
    font-size: 11rem;
}

#createNewLobbyButton {
    color: #614C17;
    background: #FFC42E;
    cursor: pointer;
}

#createNewLobbyButton:hover {
    transform: scale(1.03);
}

#createNewLobbyButton:active {
    transform: scale(1);
    background: #ffd363;
}

#joinLobbyButton {
    padding-top: 0rem !important;
    color: #A13939;
    background: #FF826E;
    width: 70rem;
    height: 23.5rem;
    display: inline-block;
    padding-right: 2rem;
    text-align: left;
    border-radius: 6rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    cursor: pointer;
}

#joinLobbyButton > div {
    margin-left: 5rem;
    position: relative;
    top: 3.7rem;
}

#joinLobbyButton:hover {
    transform: scale(1.03);
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}
#joinLobbyButton:active {
    transform: scale(1);
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    background: #FF9D8D;
}
#joinLobbyButton > div > span {
    position: relative;
    font-size: 8rem;
    left: 2rem;
    top: 0rem;
}

.join_lobby_container {
    justify-content: right;
    flex-direction: row;
    align-items: right;
    margin-left: 5rem;
    margin-right: 5rem;
}

#joinCodeInput {
    background: white;
    width: 50rem;
    text-align: center;
    text-transform: uppercase;
    height: 22.1rem;
    display: inline-block;
    font-family: 'Lalezar', cursive;
    border-radius: 6rem;
    border: none;
    box-shadow: inset -0.1rem 0.1rem .8rem rgba(0, 0, 0, 0.8);
    color: #3F3F3F;
    vertical-align: bottom;
    padding-top: 1rem;
    border-bottom-right-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    font-size: 12rem;
    -webkit-box-shadow:inset 0px 0px 0px 1rem #FF826E;
    -moz-box-shadow:inset 0px 0px 0px 1rem #FF826E;
    box-shadow:inset 0px 0px 0px 1rem #FF826E;
}

.shush_girl {
    display: block;
    position: absolute;
    left: -398rem;
    top: -28rem;
    width: 100rem;
}

#loadingMessage {
    color: white;
    margin-top: 14rem;
    visibility: hidden;
}