body{
    margin: 0px;
    background: black;
    width: 100%;
    height: 100%;
    font-family: 'Lalezar', cursive;
    font-size: 10rem;
    overflow: hidden;
} 

div {
    display: inline-block;
}

.window_container {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#WINDOW {
    width: 100%;
    height: 50vh;
    background-color: #7879F1;
    background-size: contain;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.button_behavior {
    cursor: pointer;
}

.button_behavior:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0) !important;
    filter: saturate(150%);
}

.button_behavior:active {
    transform: scale(1.02);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0 0) !important;
    filter: saturate(200%);
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.standard_shadow {
    box-shadow: 0px 1.5rem 1.5rem rgba(0, 0, 0, 0.20);
}

.relative_anchor {
    width: 0px;
    display: inline-block;
    height: 0px;
    position: relative;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(192, 192, 192);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(192, 192, 192);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(192, 192, 192);
}

.top_container {
    width: 0px;
    z-index: 100;
    height: 0px;
    display: block;
    position: absolute;
}
.taboo_logo {
    width: 0rem;
    height: 0rem;
    float: left;
    position: relative;
}

.taboo_logo > div {
    width: 70rem;
    height: 20rem;
    font-size: 16rem;
    background: #6A6BE5;
    color: #FFC42E;
    text-shadow: -2.5rem 1.2rem 0.7rem rgba(0, 0, 0, 0.25);
    line-height:23rem;
    vertical-align:middle;
    text-align: center;
    padding-right: 2rem;
    border-bottom-right-radius: 8rem;
}

.player_button_container {
    width: 0rem;
    height: 0rem;
    top: 3rem;
    left: 426rem;
    color: white;
    position: relative;
}

#playerButton {
    font-size: 8rem;
    background: #6A6BE5;
    padding-left: 10rem;
    padding-right: 5rem;
    min-width: 50rem;
    height: 13rem;
    margin-right: 10rem;
    border-radius: 100rem;
    cursor: pointer;
}

#playerButton > div {
    line-height:15rem;
    vertical-align:middle;
}

#playerButton > img {
    width: 8rem;
    position: relative;
    top: 2.5rem;
    left: 6rem;
    height: 8rem;
}

.flex {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #5051C2 #ffffff;
}

*::-webkit-scrollbar {
    width: 3rem;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #5051C2;
    border-radius: 100rem;
    border: 0px solid #ffffff;
}

.greyed {
    background: grey !important;
    color: darkgrey !important;
}